.c-hero {
    background-color: $colorWhite;
    position: relative;
    height: 100vh;

    &::before {
        content: '';
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 57%, rgb(255, 255, 255) 90%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__media {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        & figure {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: inherit;
            margin-bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
    }

    &__title {
        color: $colorSecondary;
        text-transform: uppercase;
        padding: 16px 32px;
        background-color: $colorPrimary;
        position: absolute;
        font-weight: 600;
        font-size: $titleHero;

        &-1 {
            top: -170px;
            left: 5%;
            font-size: $titleHerolg;

            &.is-loaded {
                transition: all 0.5s;
                transition-duration: 0.5s;
                animation-timing-function: (0.1, -0.6, 0.2, 0);
                top: -270px; 
            }

            &.top-animation {
                top: -470px;
                transition: all 0.5s;
                animation-timing-function: (0.1, -0.6, 0.2, 0);
                transition-duration: 0.5s;
            }
        }

        &-2 {
            top: -70px;
            left: 40%;

            &.is-loaded {
                top: -170px;
                transition: all 0.5s;
                animation-timing-function: (0.1, -0.6, 0.2, 0);
                transition-duration: 0.3s;
            }
            
            &.top-animation {
                top: -370px;
                transition: all 0.7s;
                animation-timing-function: (0.1, -0.6, 0.2, 0);
                transition-duration: 0.7s;
            }
        }

        &-3 {
            top: -10px;
            left: 62%;
            font-size: $titleHerolg;

            &.is-loaded {
                top: -110px;
                transition: all 0.5s;
                animation-timing-function: (0.1, -0.6, 0.2, 0);
                transition-duration: 0.7s;
            }

            &.top-animation {
                top: -310px;
                transition: all 0.5s;
                animation-timing-function: (0.1, -0.6, 0.2, 0);
                transition-duration: 0.7s;
            }
        }
    }

    &__menu {
        background-color: $colorPrimary;
        position: fixed;
        z-index: 3;
        padding: 15px 5px;
        width: 100%;
        transform: translateY(-100%);

        &.is-loaded {
            transition: transform 0.5s;
            animation-timing-function: (0.1, -0.6, 0.2, 0);
            transition-duration: 0.5s;
            transition-delay: 0.4s;
            transform: translateY(0);
        }

        &-list {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-link {
            padding: 8px 32px;
            font-size: $fontSizeMenuList;
            color: $colorSecondary;
            transition: all 0.3s;
            animation-timing-function: (0.1, -0.6, 0.2, 0);

            &:hover {
                color: $colorSand;
            }
        }
    }
}