.l-slider {
    height: 100%;
    background-color: $colorWhite;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(178deg, rgb(255, 255, 255) 5%, rgba(255, 255, 255, 0) 100%);
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        z-index: 1;
    }

    &::after {
        content: '';
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, rgb(255, 255, 255) 90%);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 50%;
        z-index: 1;
    }

    &__wrapper {
        height: 100vh;
        width: 100vw;
    }

    &__left {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        transition: transform 0.3s ease-in-out;
    }
    &__right {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 50%;
        transition: transform 0.3s ease-in-out;
    }

    &__slide {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &-pagination {
            position: relative;
            width: 32px;
            height: 42px;
            margin-bottom: 20px;
        }

        &-content {
            padding: 20px 30px;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-title {
            @include h2;
        }

        &-text {
            font-size: 16px;
            margin: 20px 0;
            line-height: 1.4;
        }

        &-button {
            display: inline-flex;
            text-decoration: none;
            position: relative;
            margin-top: 42px;

            &-bottom {
                position: absolute;
                left: 7px;
                top: 7px;
                width: 200px;
                height: 50px;
                background-color: $colorSand;
                transition: all 0.3s ease-in-out;
            }

            &-top {
                position: absolute;
                left: 0;
                top: 0;
                width: 200px;
                height: 100%;
                padding: 24px 34px 22px 34px;
                border: 2px solid $colorSecondary;
            }

            &-label {
                font-size: 16px;
                color: $colorSecondary;
                line-height: 0;
                text-transform: uppercase;
                text-align: center;
                transition: all 0.3s ease-in-out;
            }

            &-border {
                position: absolute;
                background-color: $colorSand;
                transition: all 0.3s ease-in-out;

                &-top {
                    left: -2px;
                    top: -2px;
                    width: 0;
                    height: 2px;
                }

                &-bottom {
                    right: -2px;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                }

                &-left {
                    left: -2px;
                    bottom: -2px;
                    width: 2px;
                    height: 0;
                }

                &-right {
                    right: -2px;
                    top: -2px;
                    width: 2px;
                    height: 0;
                }
            }


            &:hover {
                & .l-slider__slide-button-bottom {
                     left: 0;
                     top: 0;
                     background-color: $colorPrimary;
                } 
 
                & .l-slider__slide-button-label {
                     color: $colorSand;
                }

                & .l-slider__slide-button-border-left, & .l-slider__slide-button-border-right {
                        height: calc(100% + 2px);
                }

                & .l-slider__slide-button-border-top, & .l-slider__slide-button-border-bottom {
                    width: calc(100% + 2px);
                }
             }
        }

    }

    &__action-buttons {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        & button {
            background: $colorTransparent;
        }

        & i {
            font-size: 40px;
            color: $colorSand;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $colorSecondary;
            }
        }
    }
}

.pagination {
    font-size: 16px;
    color: $colorSecondary;

    &__number {
        position: absolute;
        left: 5px;
    }

    &__divider {
        position: absolute;
        background-color: $colorSand;
        width: 1px;
        height: 100%;
        transform: rotate(45deg);
        left: 50%;
    }

    &__summary {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


