.c-slider {
    height: 100%;
    background-color: $colorPrimary;
    position: relative;

    &__slide {
        max-height: 100vh;
        display: flex;

        &-left {
            flex: 0 0 50%;
        }

        &-right {
            flex: 0 0 50%;
            padding: 30px 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-pagination {
            position: relative;
            width: 32px;
            height: 42px;
            margin-bottom: 20px;
        }

        &-title {
            @include h2;
        }

        &-text {
            font-size: 16px;
            margin: 20px 0;
            line-height: 1.4;
        }

        &-button {
            display: inline-flex;
            text-decoration: none;
            position: relative;
            margin-top: 42px;

            &-bottom {
                position: absolute;
                left: 7px;
                top: 7px;
                width: 200px;
                height: 50px;
                background-color: $colorSand;
                transition: all 0.3s ease-in-out;
            }

            &-top {
                position: absolute;
                left: 0;
                top: 0;
                width: 200px;
                height: 100%;
                padding: 24px 34px 22px 34px;
                border: 2px solid $colorSecondary;
            }

            &-label {
                font-size: 16px;
                color: $colorSecondary;
                line-height: 0;
                text-transform: uppercase;
                text-align: center;
                transition: all 0.3s ease-in-out;
            }

            &-border {
                position: absolute;
                background-color: $colorSand;
                transition: all 0.3s ease-in-out;

                &-top {
                    left: -2px;
                    top: -2px;
                    width: 0;
                    height: 2px;
                }

                &-bottom {
                    right: -2px;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                }

                &-left {
                    left: -2px;
                    bottom: -2px;
                    width: 2px;
                    height: 0;
                }

                &-right {
                    right: -2px;
                    top: -2px;
                    width: 2px;
                    height: 0;
                }
            }


            &:hover {
                & .c-slider__slide-button-bottom {
                     left: 0;
                     top: 0;
                     background-color: $colorPrimary;
                } 
 
                & .c-slider__slide-button-label {
                     color: $colorSand;
                }

                & .c-slider__slide-button-border-left, & .c-slider__slide-button-border-right {
                        height: calc(100% + 2px);
                }

                & .c-slider__slide-button-border-top, & .c-slider__slide-button-border-bottom {
                    width: calc(100% + 2px);
                }
             }
        }
    }


    & .pagination {
        font-size: 16px;
        color: $colorSecondary;

        &__number {
            position: absolute;
            left: 5px;
        }

        &__divider {
            position: absolute;
            background-color: $colorSand;
            width: 1px;
            height: 100%;
            transform: rotate(45deg);
            left: 50%;
        }

        &__summary {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.swiper {
    height: 100%;
    width: 100%;

    &-slide {

        &-active {
            & .c-slider__slide-right {
                    opacity: 1;
                    transform: translateY(0);
            }
        }
    
        &-next {
            & .c-slider__slide-right {
                    opacity: 0;
                    transform: translateY(-100%);
                    transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
            }
        }
    }
}

.swiper-pagination-vertical.swiper-pagination-bullets {
    right: calc(50% - 30px);
    top: 50%;
    transform: translate(-50%, -50%);

    & .swiper-pagination-bullet {
        width: 30px;
        height: 30px;
        opacity: 1;
        background-color: $colorTransparent;
        margin-bottom: 20px;
        border: 2px solid $colorSand;

        &-active {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                background-color: $colorSand;
                left: 3px;
                top: 3px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.swiper-vertical > .swiper-button {
    &-prev {
        transform: rotate(270deg);
        position: absolute;
        left: calc(100% - 70px);
        top: calc(100% - 40px);
        color: $colorSand;
    }

    &-next {
        transform: rotate(270deg);
        position: absolute;
        left: calc(100% - 70px);
        top: calc(100% - 95px);
        color: $colorSand;
    }
}