.l-content {
    margin: 30px 0;

    &__text {
        font-size: $fontSizeText;
        line-height: 1.5;
        color: $colorSecondary;
        margin-bottom: 1rem;
        max-width: 700px;

        &.fade {
            animation: fade linear both, slide-top ease-out both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
        }
    }

    &__title {
        color: $colorSecondary;

        &.fade {
            animation: fade linear both, move ease-out both;
            animation-timeline: view();
            animation-range: entry 15% cover 20%;
        }

        &--h2 {
            @include h2;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 15px;
        margin-right: -15px;
        margin-top: 50px;

        &-item {
            flex: 1 0 50%;
            padding-right: 25px;
            transition: padding-left 0.3s ease-in-out;
            position: relative;

            @include media-breakpoint-down(lg) {
                flex: 1 0 100%;
            }

            &::marker {
                color: $colorSand;
            }

            &:hover {
                transition: padding-left 0.3s ease-in-out;
                padding-left: 5px;

                & .l-content__list-img {
                    opacity: 0.5;
                    transition: opacity 0.7s ease-in-out;
                }
            }
        }

        &-img {
            position: absolute;
            width: 250px;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            pointer-events: none;
            opacity: 0;
            overflow: hidden;
            transition: opacity .7s ease-in-out;
            filter: grayscale(80%);
            mix-blend-mode: multiply;
        }

        &-link {
            color: $colorSecondary;
            transition: color 0.3s ease-in-out;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background-color: $colorSand;
                transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                position: absolute;
                bottom: -5px;
            }

            &:hover {
                color: $colorSecondary;

                &::after {
                    width: 100%;
                    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }


        }

        &-title {
            @include h4;
            padding-left: 10px;
        }
    }

    &--space {
        margin: 100px 0;
    }

}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }  
}


@keyframes move {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(0);
    }  
}

