.l-footer {
    background-color: $colorSecondary;
    color: $colorPrimary;
    font-family: $fontPrimary;
    position: relative;
    padding: 50px 0;
    
    &__title {
        color: $colorPrimary;
        @include h2;
        text-align: center;
        margin-bottom: 20px;
    }
}