.l-footer {
    background-color: $colorWhite;
    color: $colorPrimary;
    font-family: $fontPrimary;
    position: relative;
    padding: 50px 0;
    z-index: 1;
    
    &__title {
        color: $colorSecondary;
        @include h2;
        margin-bottom: 20px;

        &.fade {
            animation: fade linear both, move ease-out both;
            animation-timeline: view();
            animation-delay: 0.2s;
            animation-range: entry 15% cover 20%;
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }  
    }
}