* {
    font-family: $fontPrimary;
}

html {
    scroll-behavior: smooth;
  }

.main {
  background-color: $colorWhite;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;

  &.scrolled {
      opacity: 1;

      &.slide-top {
          animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }

      &.slide-top-lg {
          animation: slide-top-lg 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
          animation-delay: 0.3s;
      }
  }
}

@keyframes slide-top {
  0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}


@keyframes slide-top-lg {
  0% {
      transform: translateY(80px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}