@mixin h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
}

@mixin h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
}

@mixin h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
}


@mixin h4 {
    font-size: $fontSizeMenuList;
    line-height: 2;
    margin-bottom: 10px;
}